/* style.css */

/* Navbar */
.navbar-fixed-top{
    background-color: rgb(255, 255, 255)!important;
    padding: 10px;
    border-bottom: 1px solid #074826 !important;
    margin-bottom: 100px !important;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    margin-top: 0px;
    text-align: left;
    font-family: sans-serif;
}
form {
    border: 1px solid #074826;
    background: #ecfced;
    padding: 40px 50px 45px;
    border-radius: 20px;
}
.form-control:focus {
    border-color: #000;
    box-shadow: none;
}
label {
    font-weight: 600;
}
.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}
.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}

