/* style.css */


.content-all{
    margin-top: 100px;
    margin-bottom: 30px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
    margin-top: auto;
    padding-top: 20px;
}